clf_params:
  epochs: 50
  validation_split: 0.2
  use_multiprocessing: true
  shuffle: true
  verbose: 1

tuning_train:
  n_jobs: null
  cv: 3
  verbose: 2
  return_train_score: false

rndm_search:
  n_iter: 10

grid_search:

param_distribs:
  batch_size: [128, 256]
#  learning_rate: [0.001, 0.01, 0.1, 1.0]