clf_params:
  epochs: 300
  validation_split: 0.2
  use_multiprocessing: true
  shuffle: true
  verbose: 1

rndm_search:
  n_iter: 10
  cv: 3
  verbose: 2
  return_train_score: false


grid_search:
  n_jobs: -1
  cv: 3
  verbose: 2
  return_train_score: false

nn_tuning:
  batch_size: [1, 16, 32, 64, 128, 256]
  learning_rate: [0.001, 0.01, 0.1, 1.0]